.form-control{
 display: inline-block;
 width:70%;
}
.userId{
 width:50%;
 margin-right:10px;
}

label{
 width: 30%;
}
input[type=checkbox]{
 width:20px;
 height:20px;
}

.checkbox-label input[type=checkbox]{
 position: relative;
 vertical-align: middle;
 bottom: 1px;
}

.btn-sec{
 border-color: black;
 background-color: gray;
 margin-right:10px;
}

//view part

.searchField{
 border-top:2px solid blue;
 padding-top:20px;
 border-bottom: 1px dotted black;
 margin-bottom: 20px;
 label{
  width:20%;
 }
 input{
  width: 60%;
 }

}
.seperate-content{
 border-bottom: 1px dotted black;

}

.grayOut {
background-color: lightgray;
}
.graybox{
background-color: lightgray;
width:80%;
padding:10px;
margin-bottom: 10px;
text-align: center;
}
.pribox{
 height: 93%;
}
.content{
 p{
  margin-bottom: 10px;
  font-weight: bold;
 }
}

.btn-container{
 padding: 10px;
}

.invalid-fedback{
 width: 100%;
margin-top: .25rem;
font-size: 100%;
color: #dc3545;
margin-left: 30%;
}